.DS_store
Google-Playstore.csv
google_app_info.csv
app_install_df.csv
app_installs.csv
clean_google_playstore.csv
local_settings.py
.ipynb_checkpoints
Clean_dataframe.csv
google_play_cleaned.csv
category_id.csv
__pycache__